<body class="bg-instapaper-dark flex flex-column" style="min-height:100vh">

<header class="site-header">

 <nav class="site-nav clearfix instapaper-dark-hl bg-transparent">     
  <ul class="list-reset py2 center">
    <li class="inline-block"><a href="/" class="instapaper-dark-p button py1 button-transparent fira t100 ">Home</a></li>
    <li class="inline-block"><a href="/blog" class="button py1 button-transparent fira t500 l9">Blog</a></li>
    <li class="inline-block"><a href="/" class="button py1 button-transparent fira t100">Works</a></li>
    <li class="inline-block"><a href="/" class="button py1 button-transparent fira t100">About</a></li>
  </ul>
  </nav>
  

    <div class="col-10 mx-auto center header">
  <h1 class="pt3 pb4 t700 white"><span class="yellow l9">Blog </span> <span class="italic t100 h4">by</span> sammy </h1>
  </div>


</header>






</body>