  <footer class="p3">
  <div class="flex flex-baseline flex-wrap mxn1">
    <p class="m0">thebestisyettocome by <a href="//sammyc.tk" class="bold underline">sammy</a></p>
    <div class="flex-auto"></div>
    <div class="bold">
      <a href="https://www.facebook.com/isammycheung" class="underline px2"><i class="fa fa-facebook"></i>
</a>
      <a href="https://twitter.com/Sammycheung" class="underline px2"><i class="fa fa-twitter"></i>
</a>
      <a href="http://weibo.com/moohey" class="underline px2"><i class="fa fa-weibo"></i>
</a>
    </div>
  </div>
  </footer>