<header class="site-header">

    

    <nav class="site-nav clearfix instapaper-dark-hl bg-transparent">
  <div class="col col6">
    <a class="site-title firam teal px2" href="{{ site.baseurl }}/"> BLOG </a>
  </div>
  <div class="col col6 col-right">
  <ul class="list-reset py2 right">
    <li><a href="/" class="instapaper-dark-p button py1 button-transparent fira t100 l9">Home</a></li>
    <li><a href="/blog" class="button py1 button-transparent fira  t100 l9">Blog</a></li>
    <li><a href="/" class="button py1 button-transparent fira t100 l9">Works</a></li>
    <li><a href="/" class="button py1 button-transparent fira t100 l9">About</a></li>
    
  </ul>
  
        
  </div>
</nav>




</header>
