<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/base.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link href="http://is.gd/jPBbD7" rel="icon">
	<link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic|Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<link href="http://cdn.bootcss.com/magnific-popup.js/1.0.0/magnific-popup.css" rel="stylesheet">
  <link rel="stylesheet" href="http://code.cdn.mozilla.net/fonts/fira.css">
	<link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

 
  <script src="http://ajax.useso.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://ajax.useso.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script src="http://cdn.bootcss.com/magnific-popup.js/1.0.0/jquery.magnific-popup.js"></script>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="http://d2v52k3cl9vedd.cloudfront.net/geomicons/0.2.0/geomicons.min.js"></script>

<script>

  var icons = document.querySelectorAll('[data-icon]');
  Geomicons.inject(icons);


  var Disclosure = function(el, options) {
    el.isActive = false;
    el.details = el.querySelectorAll('[data-details]');
    el.hide = function() {
      for (var i = 0; i < el.details.length; i++) {
        el.details[i].style.display = 'none';
      }
    };
    el.show = function() {
      for (var i = 0; i < el.details.length; i++) {
        el.details[i].style.display = 'block';
      }
    };
    el.toggle = function(e) {
      e.stopPropagation();
      el.isActive = !el.isActive;
      if (el.isActive) {
        el.show();
      } else {
        el.hide();
      }
    }
    el.addEventListener('click', function(e) {
      el.toggle(e);
    });
    el.hide();
    return el;
  };

  var disclosures = document.querySelectorAll('[data-disclosure]');

  for (var i = 0; i < disclosures.length; i++) {
    disclosures[i] = new Disclosure(disclosures[i]);
  }

</script>

<script src="http://cdn.bootcss.com/moment.js/2.10.3/moment.min.js"></script>

<script>
  var hour = moment().hour();
  var skull = document.querySelector('.js-skull');
  var dark = false;
  document.body.style.transition = 'background .2s ease-out';
  function toggleTheme() {
    if (dark) {
      document.body.classList.add('bg-instapaper-dark', 'instapaper-dark-hl');
    } else {
      document.body.classList.remove('bg-instapaper-dark', 'instapaper-dark-hl');
    }
  }
  if (hour > 20 || hour < 6) {
    dark = true;
    toggleTheme();
  }
  skull.addEventListener('click', function() {
    dark = !dark;
    toggleTheme();
  });
  </script>

</head>
