<!-- Section 2 PROJECT -->
<div class="section" id="section2">
<!-- S2S1 COVER -->


	<div class="slide" id="slide1">
  <div class="table col-12">

    <div class="content-c cr2 mx-auto" >
        <div class="flex flex-center" style="height:100%">
        <div class="t100 mx-auto" style="letter-spacing:6px;" >
        <h1 class="m0 h6 bg-darken-4 white t200" style="padding: 2em 20px 2em 26px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);" > MAKING SOMETHING </h1>
        </div>
        </div>
      
    </div>

      
    </div>
    </div>

<!-- S2S1 END -->

<!-- S2S2 DESIGN -->
<div class="slide" id="slide2">
    	
    <div class="col-9 mx-auto">
    <div class="clearfix">
      <div class="sm-col sm-col-6 bg-darken-4" style="height:150px;width: 150px;" ><div class="mx-auto p3"><h2 class="h6 white t200" style="letter-spacing:6px;">DESIGN</h2> </div> </div>
      <div class="sm-col sm-col-6" style="height:150px;width: 150px;overflow: hidden;"></div>
    </div>
    
    <div class="clearfix">
      <div class="sm-col sm-col-6" style="height:150px;width: 150px;overflow: hidden;"></div>
      <div class="sm-col sm-col-6 bg-darken-4" style="height:150px;width: 150px;" >
      <div class="p3">
        <ul id="pj-list" class="list-reset right">
          <li><a href="#9con" class="open-popup-link">9cons</a></li>
          <li><a href="#Self-branding" class="open-popup-link  ">Self-Branding</a></li>
          <li><a href="#more-design" class="open-popup-link  ">more</a></li>
      </div>
      </div>
      
    </div>
    </div>
<!--
    <div class="table-r" style="height: 30vh;">
      <div class="table-ce"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-1/20012599.jpg"></div>
      <div class="table-ce"><a href="/">9con</a> <a href="/">SelfBranding</a> <a href="/">More...</a></div>
    </div>
    </div>
      
        <div id="design" style="letter-spacing:6px;">
          <div class="m0 bg-darken-4 white t200" style="padding: 2em 20px 2em 26px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);"><a href="#9con" class="open-popup-link">9cons</a></div>

          <div class="col-4 inline-block p0 m0 " ><a href="#Self-branding" class="open-popup-link  ">Self-Branding</a></div>

          <div class="col-4 inline-block p0 m0"><a href="#more-design" class="open-popup-link  ">more</a></div> -->
        
      





   
    
 <div class="pop-up">

  
    <div id="9con" class="popup-dic mfp-hide">
       <h1> 9con</h1> 
        <p>An icon set for Mac. Just another option for your dock.</p>
        
        <a href="/">Go and Download <i class="fa fa-arrow-right"></i></a>

    </div>

    <div id="Self-branding" class="popup-dic mfp-hide">
      <h1>Self-Branding</h1>
      <p>Branding myself. As you see some details in this weisite.</p>
      <a href="/">Check it out <i class="fa fa-arrow-right"></i></a>
    </div>


    <div id="more-design" class="popup-dic mfp-hide">
      <h1>More</h1>
      <p>More project coming soon. See other little design piece of mine by clicking the link below.</p>
      <a href="/">Design Page <i class="fa fa-arrow-right"></i></a>


    </div>
</div>


</div>
    
   



<!-- S2S2 END -->

<!-- S2S3 WEBSITES -->
<div class="slide" id="slide3">
    <div class="col-8 left">
<div class="col-8 inline-block"><h2 data-fitter-happier-text class="white p1 t700" style="border: 3px solid white">Websites</h2></div>
   

   <div class="col-3 right inline-block bg-white border rounded">
   <a href="#yme" class="button block button-transparent border-bottom open-popup-link">thebestisyettoco.me</a>
  <a href="#700apps" class="button block button-transparent border-bottom open-popup-link">700 Apps</a>
  <a href="#more-website" class="button block button-transparent">More</a>
</div>

    </div>
 <div class="pop-up">

  
    <div id="yme" class="popup-dic mfp-hide">
       <h1> 9con</h1> 
        <p>An icon set for Mac. Just another option for your dock.</p>
        
        <a href="/">Go and Download <i class="fa fa-arrow-right"></i></a>

    </div>

    <div id="700apps" class="popup-dic mfp-hide">
      <h1>Self-Branding</h1>
      <p>Branding myself. As you see some details in this weisite.</p>
      <a href="/">Check it out <i class="fa fa-arrow-right"></i></a>
    </div>


    <div id="more-websites" class="popup-dic mfp-hide">
      <h1>More</h1>
      <p>More project coming soon. See other little design piece of mine by clicking the link below.</p>
      <a href="/">Design Page <i class="fa fa-arrow-right"></i></a>


    </div>
</div>


</div>
<!-- S2S3 END -->

<!-- S2S4 SPECIAL -->
<div class="slide" id="slide4">
      
  <div class="lg-col-4 sm-col-10 md-col-6 mx-auto"><h2 data-fitter-happier-text class="white p1 t700" style="border: 3px solid white">Personal</h2>
  <h2 data-fitter-happier-text class="aqua p1 t700" style="border: 3px solid white">Made with love, Made for love.</h2></div>
    
    
      <div class="col-6 mx-auto border border-white sm-flex center nowrap">
  <div class="col-4">
    <a href="#yme" class="button white block button-navy open-popup-link">thebestisyettoco.me</a>
  </div>
  <div class="col-4">
    <a href="#700apps" class="button white block button-navy open-popup-link">700Apps</a>
  </div>
  <div class="col-4">
    <a href="#more-websites" class="button block white button-navy open-popup-link">more</a>
  </div>
</div>
   
    
 <div class="pop-up">

  
    <div id="yme" class="popup-dic mfp-hide">
       <h1> 9con</h1> 
        <p>An icon set for Mac. Just another option for your dock.</p>
        
        <a href="/">Go and Download <i class="fa fa-arrow-right"></i></a>

    </div>

    <div id="700apps" class="popup-dic mfp-hide">
      <h1>Self-Branding</h1>
      <p>Branding myself. As you see some details in this weisite.</p>
      <a href="/">Check it out <i class="fa fa-arrow-right"></i></a>
    </div>


    <div id="more-websites" class="popup-dic mfp-hide">
      <h1>More</h1>
      <p>More project coming soon. See other little design piece of mine by clicking the link below.</p>
      <a href="/">Design Page <i class="fa fa-arrow-right"></i></a>


    </div>
</div>  

</div>
<!-- S2S4 END -->


</div>
<!-- SECTION 2 END -->
