<!-- Section 1 ABOUT ME-->      
<div class="section" id="section1">
	<div class="slide" id="slide1">
	<div class="table col-12">



    <div class="content lg-col-6 md-col-8 sm-col-12 inline-block">
    		<div class="table cr p4 mx-auto">
    		<div class="table-ce-m">
				<h1 class="left-align">About Me</h1>
				
				
    		</div>
    		</div>
    	
    </div>

      <div class="content-r lg-col-6 md-col-4 sm-col-0 inline-block">
    
    </div>
    </div>
    </div>

    <div class="slide" id="slide2">

    
    <div id="keywords" class="sm-col-11 md-col-9 lg-col-6 mx-auto asap t700">
    <ul class="list-reset">
    <li class=""><a href="#humanbeing" class="open-popup-link">Humanbeing</a></li>
    <li class=""><a href="#Cantonese" class="open-popup-link">Cantonese</a></li>
    <li class=""><a href="#Asian" class="open-popup-link">Asian</a></li>
    <li><a href="#Libra" class="open-popup-link">Libra</a></li>
    <li><a href="#1986" class="open-popup-link">Since 1986</a></li>
    <li><a href="#Chinese" class="open-popup-link">Chinese</a></li>
    <li><a href="#Apple" class="open-popup-link">Apple</a></li>
    <li><a href="#Beijing" class="open-popup-link">Beijing</a></li>
    <li><a href="#Sammi" class="open-popup-link">Sammi</a></li>
    <li><a href="#AirMax90" class="open-popup-link">AirMax 90</a></li>
    <li><a href="#VitaLemonTea" class="open-popup-link">Vita LemonTea</a></li>
    <li><a href="#Chinese" class="open-popup-link">Chinese</a></li>

    <li><input placeholder="your words?"></li>
    </ul>
    <button>summit</button>

    </div>




    <div class="pop-up">

    <div id="humanbeing" class="popup-dic mfp-hide">
        <h1>humanbeing</h1> <span>|hjuːmənˈbiːɪŋ|</span>
        <aside>noun</aside>
        <p>a man, woman, or child of the species Homo sapiens, distinguished from other animals by superior mental development, power of articulate speech, and upright stance.</p>
    </div>

    

    <div id="Cantonese" class="popup-dic mfp-hide">
       <h1> Cantonese</h1> <span>|ˌkantnˈēz, -ˈēs|</span>
<aside>adjective</aside>
<p>of or relating to Canton (Guangzhou), its inhabitants, their dialect, or their cuisine.</p>
<aside>noun (pl.same)</aside>
<ol>
<li>a native or inhabitant of Canton.</li>
<li>a form of Chinese spoken mainly in southeastern China (including Hong Kong). Also called Yue.</li>
</ol>

    </div>

    <div id="Asian" class="popup-dic mfp-hide">
      <h1>Asian</h1>
      <span>|ˈāZHən|</span> 
      <aside>adjective</aside>
      <p>of or relating to Asia or its people, customs, or languages.</p>
      <aside class="italic">noun</aside>
      <p>a native of Asia or a person of Asian descent.</p>
    </div>




</div>

    
    
    </div>




    <div class="slide" id="slide3">
	
    </div>

</div>
<!-- Section 1 END-->