<!-- Section 2 PROJECT -->
<div class="section" id="section2">
<!-- S2S1 COVER -->


	<div class="slide" id="slide1">
  <div class="table col-12">

    <div class="content-c cr2 mx-auto" >
        <div class="flex flex-center" style="height:100%">
        <div class="t100 mx-auto" style="letter-spacing:6px;" >
        <h1 class="m0 h6 bg-darken-4 white t200" style="padding: 2em 20px 2em 26px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);" > MAKING SOMETHING </h1>
        </div>
        </div>
      
    </div>

      
    </div>
    </div>

<!-- S2S1 END -->

<!-- S2S2 DESIGN -->
<div class="slide" id="slide2">
    	
  
      <!--
        <ul id="pj-list" class="list-reset">
          <li><a href="#9con" class="open-popup-link">9cons</a></li>
          <li><a href="#Self-branding" class="open-popup-link  ">Self-Branding</a></li>
          <li><a href="#more-design" class="open-popup-link  ">more</a></li>
          </ul> -->

      

<!--
    <div class="table-r" style="height: 30vh;">
      <div class="table-ce"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-1/20012599.jpg"></div>
      <div class="table-ce"><a href="/">9con</a> <a href="/">SelfBranding</a> <a href="/">More...</a></div>
    </div>
    </div>
      
        <div id="design" style="letter-spacing:6px;">
          <div class="m0 bg-darken-4 white t200" style="padding: 2em 20px 2em 26px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);"><a href="#9con" class="open-popup-link">9cons</a></div>

          <div class="col-4 inline-block p0 m0 " ><a href="#Self-branding" class="open-popup-link  ">Self-Branding</a></div>

          <div class="col-4 inline-block p0 m0"><a href="#more-design" class="open-popup-link  ">more</a></div> -->
        

      <div class="table mx-auto" id="notebook">
      <div class="notebook-l table-ce-m">  
      <div class="notebook-cover-l">  
      <div class="notebook-paper-l">
        <div class="px3 pt4 h2 red handwrite">
          Design
        </div>
        <ul id="pj-list" class="list-reset cc-underline handwrite">
          <li><a href="#9con" class="open-popup-link">9cons</a></li>
          <li><a href="#Self-branding" class="open-popup-link  ">Self-Branding</a></li>
          <li><a href="#more-design" class="open-popup-link  ">more</a></li>
          </ul>
      </div>
      </div>
      </div>
      
      


      <div class="notebook-r table-ce-m">  
      <div class="notebook-cover-r">  
      <div class="notebook-paper-r">
        <div class="flex flex-center" style="min-height:100%;">
        <div class="py4 px3">
        <h3 class="py2 light-hl handwrite">design quote</h3>
        
        </div>
         </div>
      </div>
      </div>
      </div>
      </div>


   
    
 <div class="pop-up handwrite" >

  
    <div id="9con" class="popup-dic mfp-hide">
       <div class="p2  handwrite">
          <h2 class="red handwrite h3" >9con</h2>
          <ul class="list-reset" style="font-size:12px;">
          <li> - icon set for OS X </li>
          <li> - clean / cohesive / better color</li>
          <li> - both system / popular apps </li>
          </ul>
          <p class="cc-underline">** Make a <a href="/">website</a> for it</p>
          </div>

    </div>

    <div id="Self-branding" class="popup-dic mfp-hide">
      <div class="p2  handwrite">
          <h2 class="red handwrite h4">Self Branding</h2>
          <ul class="list-reset" style="font-size:12px;">
          <li> - icon/logo </li>
          <li> - Color choice</li>
          <li> - Feel!! </li>
          </ul>
          <p class="cc-underline">** Also Make a <a href="/">website</a> for it</p>
          </div>
    </div>


    <div id="more-design" class="popup-dic mfp-hide">
      <div class="p2  handwrite">
          <h2 class="red handwrite h3">Design Showcase</h2>
          <ul class="list-reset" style="font-size:12px;">
          <li> - Anything. </li>
          <li> - Color choice</li>
          <li> - Feel!! </li>
          </ul>
          <p class="cc-underline">** Also Make a <a href="/">website</a> for it</p>
          </div>
    </div>
</div>


</div>
    
   



<!-- S2S2 END -->

<!-- S2S3 WEBSITES -->
<div class="slide" id="slide3">
    <div id="terminal-window" class="sm-col-11 md-col-9 lg-col-9 mx-auto" style="max-width:700px;">

    <div id="terminal-bar" class=" mx-auto my0">
        <div id="dot-r"></div>
        <div id="dot-y"></div>
        <div id="dot-g"></div>
    </div>

    <div id="terminal-body" class=" mx-auto p3 bg-darken" style="min-height:40vh; ">
   <div class="t-container">
    <form class="t-form">
    <input type="text" class="terminal-input">
    </form>



  <div class="terminal">
      <p class="prompt">Here are some websites I make for fun: </p>
      <p class="prompt">1_thebestisyettoco.me</p>
      <p class="prompt">a personal microblog for keeping and sharing the new and inspire things.</p>
      <p class="prompt">...</p>
      <p class="prompt">2_700_Apps(700apps.xyz)</p>
      <p class="prompt">Another blog of me for talking about apps.</p>
      <p class="prompt">...</p>
      <p class="prompt">##########(100%)</p>
      <p class="prompt">Enter after type "1" or "2" will redirect you to the website.</p>
      <p class="prompt output new-output"></p>
  </div>
    </div>

    </div>
    </div>
 
</div>



<!-- S2S3 END -->

<!-- S2S4 SPECIAL -->
<div class="slide" id="slide4">
      
  <div class="lg-col-4 sm-col-10 md-col-6 mx-auto"><h2 data-fitter-happier-text class="white p1 t700" style="border: 3px solid white">Personal</h2>
  <h2 data-fitter-happier-text class="aqua p1 t700" style="border: 3px solid white">Made with love, Made for love.</h2></div>
    



</div>
<!-- S2S4 END -->


</div>
<!-- SECTION 2 END -->
