<!-- Section 3 CONNECT-->
<div class="section" id="section3">

  

    
        <div class="flex flex-center" style="min-height:80%;">
        
		
		<div class="bold p0 mx-auto ">

	<!--
	<div class="flex flex-center" style="min-height:100vh">	
	<div id="particles-js"></div>	
	</div>	 -->
				<h2 class="p2 h4 bg-darken-2" style="color:currentColor;">Social</h2>
				
				<a href=" https://twitter.com/Sammycheung" class=" twicolor p2"> 
				<i class="fa fa-twitter"></i>
				</a>
				
				<a href=" https://github.com/iSammyC" class="  black p2"> <i class="fa fa-github"></i> </a>
						
				<a href="http://weibo.com/moohey" class=" wbcolor p2"> <i class="fa fa-weibo"></i> </a>
						
				<a href=" https://instagram.com/sammyc/" class="  inscolor  p2 "> <i class="fa fa-instagram  "></i></a> 

		   		<a href=" https://cn.linkedin.com/in/sammyzhang" class="  lincolor p2"> <i class="fa fa-linkedin  "></i>  </a>
		
				<a href=" https://www.facebook.com/isammycheung" class=" fbcolor p2"> <i class="fa fa-facebook  "></i>  </a>
						
				<a href=" https://www.pinterest.com/isammyc/" class="pincolor p2"> <i class="fa fa-pinterest   "></i>  </a>	

					
				<h2 class="p2 h4 bg-darken-2" style="color:currentColor;">Contact</h2>

				
 				<a href="mailto:hi@sammyc.tk" class="p2 gray"> <i class="fa fa-envelope pr2"></i> hi@sammyc.tk </a>

 				<h2 class="p2 h4 bg-darken-2" style="color:currentColor;">Resume </h2>

 				<button><a href="/">Download</a></button>



						
		
    	

</div>



        </div>
      
    </div>

    







<!-- Section 3 END -->