<!-- Section 3 CONNECT-->
<div class="section" id="section3">
<div class="slide" id="slide1">
<div class="table col-12">

	<div class="content lg-col-6 md-col-4 sm-col-0 inline-block">
		
		<div id="particles-js" class="l90"></div>	
		</div>
		

    <div class="content-r lg-col-6 md-col-8 sm-col-12 inline-block">
    		<div class="table cr p4 mx-auto">
    		<div class="table-ce-m">
				<h1 class="t600">Connect</h1>
				<p>There're ways to connect people. Technology make us in the same space without distance. But I miss some old fashion ways we used to be.</p>
				<p>Anyway, we can't stop them, join them. And here's my "Address".</p>
				<div class="ss flex flex-wrap">
				<a href=" https://twitter.com/Sammycheung" class="center tiwcolor m1  l9 col-flex"> 
				<i class="fa fa-twitter fa-2x "></i>
				</a>
				
				<a href=" https://github.com/iSammyC" class="center  black m1  l9 col-flex"> <i class="fa fa-github fa-2x"></i> </a>
						
				<a href="http://weibo.com/moohey" class="table-cell center   wbcolor m1  l9 col-flex"> <i class="fa fa-weibo fa-2x r90"></i> </a>
						
				<a href=" https://instagram.com/sammyc/" class="center  inscolor  m1  l9 col-flex"> <i class="fa fa-instagram fa-2x l9"></i></a> 

		   		<a href=" https://cn.linkedin.com/in/sammyzhang" class="center  lincolor m1  l9 col-flex"> <i class="fa fa-linkedin fa-2x"></i>  </a>
		
				<a href=" https://www.facebook.com/isammycheung" class="center fbcolor m1  l9 col-flex"> <i class="fa fa-facebook fa-2x"></i>  </a>
						
				<a href=" https://www.pinterest.com/isammyc/" class="center  pincolor  m1  l9 col-flex"> <i class="fa fa-pinterest  fa-2x"></i>  </a>	

					
						
			</div>
    		</div>
    		</div>
    	
    </div>
</div>
</div>

<div class="slide" id="slide2">
    
    <div class="twit col-10 mx-auto center">
    <a class="twitter-timeline" href="https://twitter.com/Sammycheung" data-widget-id="603873647032475648">@Sammycheung的推文</a>

    </div>


</div>

<div class="slide" id="slide3">
  <div> <i class="fa fa-twitter fa-3x twicolor"></i> </div>
  <div> <a href="https://twitter.com/Sammycheung">@Sammycheung </a></div>


</div>
</div>
<!-- Section 3 END -->