<!-- Section 3 CONNECT-->
<div class="section" id="section3">

  

    
        <div class="mx-auto" style="max-width:700px;">

        <div class="block center m0" id="social-row">
		

		<div class="px3 inline-block"><a href=" https://instagram.com/sammyc/" ><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/90098906-mail.svg" style="border-radius:50%" height="35" title="Instagram"></a></div>
		</div>




        <div class="block center m0" id="social-row">
			<div class="   px3 inline-block"><a href=" https://github.com/iSammyC" ><img src="http://is.gd/14ZP16" style="border-radius:50%" height="35" title="Github" class=" "></a></div>

			<div class="px3 inline-block"><a href=" http://weibo.com/moohey" class=" "><img src="http://is.gd/gMacyD" style="border-radius:50%" class=" " height="35" title="Weibo"></a></div>

			

        </div>

        <div class="block center m0" id="social-row" >

		<div class="px3 inline-block"><a href="https://www.facebook.com/isammycheung" ><img src="http://is.gd/7jb4hC" style="border-radius:50%"  height="35" title="Facebook"></div>



        <div class="px3 inline-block"><img src="http://is.gd/51ZxQl" style="border-radius:50%" height="35" title="head1"></div>
        
        <div class="px3 inline-block"><a href="#wechat" class="open-popup-link"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/48359458-mail.svg" style="border-radius:50%" height="35" title="WeChat"></a></div>



        <div class="popup-dic mfp-hide" id="wechat"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/64007439.jpg"></div>
        
        </div>

        <div class="block center m0" id="social-row">

		<div class="px3 inline-block"><a href="http://www.douban.com/people/sammycheung/"><img src="http://is.gd/qznLAZ" style="border-radius:50%"  height="35" title="douban"></div>

		<div class="   px3 inline-block"><img src="http://is.gd/eFB1TQ" style="border-radius:50%" class=" " height="35" title="head2"></div>


		<div class="   px3 inline-block"><img src="http://is.gd/f6dLir" style="border-radius:50%" class=" " height="35" title="head3"></div>

		<div class="    px3 inline-block"><img src="http://is.gd/BRzI2L" style="border-radius:50%;" class=" " height="35" title="Linkedin"></div>

		</div>

		<div class="block center m0" id="social-row">

		

        
        <div class="    px3 inline-block"><img src="http://is.gd/iJ7RHk" style="border-radius:50%" class=" " height="35" title="Pinterest"></div>

       

		<div class="   px3 inline-block"><img src="http://is.gd/tuLiR8" style="border-radius:50%" class=" " height="35" title="head4"></div>
		
        <div class="    px3 inline-block"><img src="http://is.gd/hr2mYJ" style="border-radius:50%" class=" " height="35" title="Twitter"></div>


        </div>

        <div class="block center m0" id="social-row">

        <div class="   px3 inline-block"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/78073568-Oval%2011.svg" style="border-radius:50%" class=" " height="35" title="orange"></div>
        
        

        <div class="    px3 inline-block"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/9836341-mail.svg" style="border-radius:50%" class=" " height="35" title="Mail"></div>
        
        </div>
        <div class="block center m0" id="social-row">
        
        
        
        <div class="   px3 inline-block"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/52317315-Oval%2011.svg" style="border-radius:50%" class=" " height="35" title="red"></div>
        </div>
		</div>
		<!--
		<div class="bold p0 mx-auto ">

	<!--
	<div class="flex flex-center m0 " style="min-height:100vh">	
	<div id="particles-js"></div>	
	</div>	 -->
			<!--	<h2 class="p2 h4 bg-darken-2" style="color:currentColor;">Social</h2>
				
				<a href=" https://twitter.com/Sammycheung" class=" twicolor p2"> 
				<i class="fa fa-twitter"></i>
				</a>
				
				<a href=" https://github.com/iSammyC" class="  black p2"> <i class="fa fa-github"></i> </a>
						
				<a href="http://weibo.com/moohey" class=" wbcolor p2"> <i class="fa fa-weibo"></i> </a>
						
				<a href=" https://instagram.com/sammyc/" class="  inscolor  p2 "> <i class="fa fa-instagram  "></i></a> 

		   		<a href=" https://cn.linkedin.com/in/sammyzhang" class="  lincolor p2"> <i class="fa fa-linkedin  "></i>  </a>
		
				<a href=" https://www.facebook.com/isammycheung" class=" fbcolor p2"> <i class="fa fa-facebook  "></i>  </a>
						
				<a href=" https://www.pinterest.com/isammyc/" class="pincolor p2"> <i class="fa fa-pinterest   "></i>  </a>	

					
				<h2 class="p2 h4 bg-darken-2" style="color:currentColor;">Email</h2>

				
 				<a href="mailto:sammycheung@me.com" class="p2 gray"> <i class="fa fa-envelope pr2"></i> sammycheung@me.com  </a>

 				<h2 class="p2 h4 bg-darken-2" style="color:currentColor;">Resume </h2>

 				<button class="button-outline"><a href="/" class="">Read</a></button>
 				<button class="button-outline "><a href="/" class="">Download</a></button>



						
		
    	

</div> -->



           </div>

    







<!-- Section 3 END -->