<!-- Section 2 PROJECT -->
<div class="section" id="section2">
<!-- S2S1 COVER -->

<div class="slide" id="slide0">
<div class="container">
<div class="flex mxn2">

    <div class="col-4 p2">
    
    <div class="p2 border border-blue">
    <div class="medium h2 black py1">design work</div>
    </div>

    </div>

    <div class="flex-auto p2">

    <div class="p2 border border-blue">

    
      <div class="medium h2 black py1">
      <a href="//9con.ml">9con</a>
      <aside class="gray px2">an icon set for OS X.</aside>
      </div>
      
      <div class="medium h2 black py1">
      <a href="/">XXXXX</a>
      <aside class="gray px2">xxx, xxx x  xxx  x</aside>
      </div>
    
    </div>

    </div>
</div>
</div>
</div>

	<div class="slide" id="slide1">
  <div class="table col-12">

    <div class="content-c cr2 mx-auto" >
        <div class="flex flex-center" style="height:100%">
        <div class="t100 mx-auto" style="letter-spacing:6px;" >
        <p class="m0 h6 bg-darken-4 white" style="padding: 2em 20px 2em 26px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);" > MAKING SOMETHING </p>
        </div>
        </div>
      
    </div>

      
    </div>
    </div>

<!-- S2S1 END -->

<!-- S2S2 DESIGN -->
<div class="slide" id="slide2">
    	
  
      <!--
        <ul id="pj-list" class="list-reset">
          <li><a href="#9con" class="open-popup-link">9cons</a></li>
          <li><a href="#Self-branding" class="open-popup-link  ">Self-Branding</a></li>
          <li><a href="#more-design" class="open-popup-link  ">more</a></li>
          </ul> -->

      

<!--
    <div class="table-r" style="height: 30vh;">
      <div class="table-ce"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-1/20012599.jpg"></div>
      <div class="table-ce"><a href="/">9con</a> <a href="/">SelfBranding</a> <a href="/">More...</a></div>
    </div>
    </div>
      
        <div id="design" style="letter-spacing:6px;">
          <div class="m0 bg-darken-4 white t200" style="padding: 2em 20px 2em 26px;box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);"><a href="#9con" class="open-popup-link">9cons</a></div>

          <div class="col-4 inline-block p0 m0 " ><a href="#Self-branding" class="open-popup-link  ">Self-Branding</a></div>

          <div class="col-4 inline-block p0 m0"><a href="#more-design" class="open-popup-link  ">more</a></div> -->
        

     <div class="col-10 p4 mx-auto">

<div class="sm-flex flex-wrap mxn2 ">
    <div class="sm-col-11 lg-col-4 md-col-4 p1">
    <div class="p2 bg-light border rounded">
    <img src="http://is.gd/4WpGtV" class="mb2" />
    <h1 class="h4 mt0"><a href="//9con.ml" style="color:black">9con</a></h1>
    <p class="mb0">An iconset for OS X.</p>
    </div>
    </div>

    <div class="sm-col-11 lg-col-4 md-col-4 p1">
    <div class="p2 bg-light border rounded">
    <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/76967301.jpg" class="mb2" />
    <h1 class="h4 mt0"><a href="//700apps.xyz" style="color:black">700apps</a></h1>
    <p class="mb0">My iOS app list. Black & White.</p>
    </div>
    </div>

    <div class="sm-col-11 lg-col-4 md-col-4 p1">
    <div class="p2 bg-light border rounded">
    <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-7/17363029.jpg" class="mb2" />
    <h1 class="h4 mt0"><a href="/design" style="color:black">More</a></h1>
    <p class="mb0">Just randomly anything. </p>
    </div>
    </div>
  
    
</div>




</div>
    
   


</div>
<!-- S2S2 END -->

<!-- S2S3 WEBSITES -->
<div class="slide" id="slide3">
    <div id="terminal-window" class="sm-col-11 md-col-9 lg-col-9 mx-auto" style="max-width:650px;">

    <div id="terminal-bar" class=" mx-auto my0">
        <div id="dot-r"></div>
        <div id="dot-y"></div>
        <div id="dot-g"></div>
    </div>

    <div id="terminal-body" class=" mx-auto p3 bg-black" style="min-height:40vh; ">
   <div class="t-container">
    <form class="t-form">
    <input type="text" class="terminal-input">
    </form>



  <div class="terminal">
      <p class="prompt">Here are some websites I make for fun: </p>
      <p class="prompt">1_thebestisyettoco.me</p>
      <p class="prompt">a personal microblog for keeping and sharing the new and inspire things.</p>
      <p class="prompt">...</p>
      <p class="prompt">2_700_Apps(700apps.xyz)</p>
      <p class="prompt">Another blog of me for talking about apps.</p>
      <p class="prompt">...</p>
      <p class="prompt">##########(100%)</p>
      <p class="prompt">Enter after type "1" or "2" will redirect you to the website.</p>
      <p class="prompt output new-output"></p>
  </div>
    </div>

    </div>
    </div>
 
</div>



<!-- S2S3 END -->

<!-- S2S4 SPECIAL -->
<!--
<div class="slide" id="slide4">
      
  <div class="lg-col-4 sm-col-10 md-col-6 mx-auto"><h2 data-fitter-happier-text class="white p1 t700" style="border: 3px solid white">Personal</h2>
  <h2 data-fitter-happier-text class="aqua p1 t700" style="border: 3px solid white">Made with love, Made for love.</h2></div>
    



</div> -->
<!-- S2S4 END -->


</div>
<!-- SECTION 2 END -->
