<div class="social">

<ul class="list-reset">
    <li> <a href=" http://weibo.com/moohey"> <i class="fa fa-weibo" style="color:RGBA(230, 22, 45, 1);"></i></a></li>

    <li> <a href=" https://instagram.com/sammyc/"> <i class="fa fa-instagram" style="color:#3f729b;"></i></a></li>

    <li> <a href=" https://twitter.com/Sammycheung"> <i class="fa fa-twitter" style="color:#55acee;"></i></a></li>    

    <li> <a href=" https://www.facebook.com/isammycheung"> <i class="fa fa-facebook" style="color:#3b5998;"></i></a></li>

    <li> <a href=" https://cn.linkedin.com/in/sammyzhang"> <i class="fa fa-linkedin" style="color:#0976b4;"></i></a></li>
        
    <li> <a href=" https://www.pinterest.com/isammyc/"> <i class="fa fa-pinterest" style="color:#cc2127;"></i></a></li>  
     
         
</ul>



</div>