<!DOCTYPE html>
<html>

  {% include head-fullpage.html %}

<body class="bg-myw">




<div id="top-left">
	<a href="/" class="fira t600 typora-dark bg-myw px2">Sammy Cheung</a> 
<br>
	<a href="/"> <img src="http://is.gd/B5WsXN" height="30" class="hvr-hang p2 logo"> </a>

</div>

<div id="top-right">
	<ul class="list-reset right-align t300 bg-myw px2">
		<li ><a href="/design" class="hvr-hang typora-dark">Design</a></li>
		<li ><a href="/websites" class="hvr-hang typora-dark">Websites</a></li>
		<li ><a href="/projects" class="hvr-hang typora-dark">Projects</a></li>
		<li ><a href="/blog" class="hvr-hang typora-dark">Blog</a></li>
	</ul>	
</div>



<div id="fullpage">

<!-- Section 0 -->

<div class="section" id="section0">
		<div class="content">
		<div>
			<section class="mx-auto" Style="width: 380px;">
				<div class="sticker box-shadow1 mx-auto p3 bg-white hanging">
				<img src="http://is.gd/B5WsXN" height="35" class="mb4">
				<div class="t2em t500 mb4" style="line-height:.8;">Sammy <br><span>Cheung</span></div>
				<div class="pt-2 sticker-list flex">
					<div class="col-4 py1 left-align">Beijing</div>
					<div id="date" class="col-4 py1 center">
					</div>
					<div id="day" class="col-4 py1 right-align"></div>
				</div>
				</div>

				<a href="/" class="right mt3 silver">inspire from this <i class="fa fa-arrow-right"></i> </a>
			</section>
		</div>
		</div>
</div>

<!-- Section 0 END-->
      
<!-- Section 1 -->      
<div class="section bg-myw" id="section1">

<!-- Section 1 Slide 1-->
<div class="slide" id="slide1">
	<div class="content">
		<div class="col-6 mx-auto p1">
			<div>
				<div class="caps p1 h1">social</div>
				<p class="caps p1">Faces, many faces. Anywhere.</p>
			</div>

			<div class="ss flex flex-wrap">
				<a href=" https://twitter.com/Sammycheung" class="center tiwcolor m1  l9 col-flex"> 
				<i class="fa fa-twitter fa-2x "></i>
				</a>
				
				<a href=" https://github.com/iSammyC" class="center  black m1  l9 col-flex"> <i class="fa fa-github fa-2x"></i> </a>
						
				<a href="http://weibo.com/moohey" class="table-cell center   wbcolor m1  l9 col-flex"> <i class="fa fa-weibo fa-2x r90"></i> </a>
						
				<a href=" https://instagram.com/sammyc/" class="center  inscolor  m1  l9 col-flex"> <i class="fa fa-instagram fa-2x l9"></i></a> 

		   		<a href=" https://cn.linkedin.com/in/sammyzhang" class="center  lincolor m1  l9 col-flex"> <i class="fa fa-linkedin fa-2x"></i>  </a>
		
				<a href=" https://www.facebook.com/isammycheung" class="center fbcolor m1  l9 col-flex"> <i class="fa fa-facebook fa-2x"></i>  </a>
						
				<a href=" https://www.pinterest.com/isammyc/" class="center  pincolor  m1  l9 col-flex"> <i class="fa fa-pinterest  fa-2x"></i>  </a>	

					
						
			</div>
			
		</div>
	</div>
</div>
<!-- Section 1 Slide 1 END -->

<!-- Section 1 Slide 2 -->
<div class="slide bg-myw" id="slide2">
	<div>
		<div class="flex flex-center p2">
  			<section class="homewords mx-auto t800 px2 py4 col-10 sm-col-10 md-col-8 lg-col-5">
			    <div data-fitter-happier-text class="red">This is Sammy</div>
			    <div data-fitter-happier-text class="myellow">A HUMANBEING</div>
			    <div data-fitter-happier-text class="blue">(1986 - ? )[28]/Male/Libra</div>
			    <div data-fitter-happier-text class="olive">Asian/Chinese</div>
			    <div data-fitter-happier-text class="aqua">Cantonese/Mandarin/English</div>
			    <div data-fitter-happier-text class="teal">scrool up and read me more</div>
    		</section>
  		</div>	
  	</div>
</div>
<!-- Section 1 Slide 2 END -->

<!-- Section 1 Slide 3 -->
<div class="slide" id="slide3">
 	<div class="content center">
		<div class="bg-blue button button-big border-trans mx-auto hvr-shadow">
			<div class="inline-block mr3"></div>
			<div class="inline-block ml1 t400">Thank you</div>
		</div>

		<div class="bg-red button button-big border-trans mx-auto hvr-shadow">
			<div class="inline-block mr4"></div>
			<div class="inline-block ml2 t400">谢谢</div>
		</div>
	</div>
</div>
<!--Section 1 Slide 3 END -->
<!-- Section 2 Slide 4 -->
<div class="slide" id="slide4">
	<div class="content">
		<!-- <div class="dark">
  			<h1 contenteditable="true">Chicago</h1>
		</div> -->

		<div class="dark">
  			<h1 contenteditable="true">Canton</h1>
		</div>
	</div>
</div>
</div>
<!-- Section 1 END-->


<!-- Section 2-->
<div class="section" id="section2">
    <div class="content">
   		<div class="">
   			<h1 class="col-10 mx-auto red">PROJECTS</h1>
   			<!-- LINE 1 -->
			<section class="flex flex-center" >
				<!-- LINE WIDTH SETUP -->
				<div class="mx-auto col-10">
					<!-- LINE 1 LEFT-->
					<div class="col col-4 p2" style="min-height:250px; max-height:250px; background-image:url(http://is.gd/2wwZ7m); background-">			
						<a href="//9con.ml">
							<h2 class="l9 mb4 auqa">9cons</h2>

							<p class="backface silver firam">A collection of apps' icons for OS X Yosemite. Both native apps and 3rd party ones. Simpler and better color. All of them are 9 degree to the left.</p>
						</a>
							
						
						<a href="//9con.ml"><button class="button-outline aqua">Download</button></a>
						
					</div>

					<!-- LINE 1 RIGHT -->
					<div class="col col-8 right p2 bg-cover bg-bottom silver" style="height:250px; background-image: url(http://is.gd/z0rPyU);">
					<a href="//mibrary.tk" class="">
							<h2 class="mt3 mb3 aqua">MIbrary</h2>
							<p class="silver firam">With 20 years of love.<br> A little library of Sammi Cheng.</p>
						</a>
						<a href="//sammi.ml"><button class="button-outline aqua">LOVE MI NOW</button></a>
					</div>
				</div>
			</section>
			<!-- LINE 1 END -->

			<!-- LINE 2 -->
			<section class="flex flex-center ">
				<!-- LINE WIDTH SET UP -->
				<div class="mx-auto col-10">
					<!-- LINE 2 LEFT -->
					<div class="col col-7 silver p2 bg-cover bg-center bg-right" style="min-height:250px; background-image:url(http://is.gd/X83ela);">
						MORE PROJECTS COMING SOON...
					</div>
					<!-- LINE 2 LEFT END -->

					<!-- LINE 2 RIGHT -->
					<div class="col col-5 p2 alpha60 bg-cover bg-center" style="min-height:250px; background-image:url(http://is.gd/jSSoTN); overflow: hidden;">
						<a href="//sheila.tk" class="">
							<h2 class="mt3 mb3 aqua">Sheila/licker</h2>
							<p class="silver firam bg-gray">This adorable little girl love to lick everything. (And she's NOW licking my hand when I type these)</p>
						</a>
						<a href="//sheila.ga"><button class="button-outline aqua">Let'g get licked!</button></a>
						
					</div>
					<!-- LINE 2 RIGHT END -->
				</div>
			</section>
			<!-- LINE 2 END -->
		</div>
	</div>
</div>
<!-- SECTION 2 END -->

<div class="section" id="section3">
	<div class="content px3">
		<div class="flex mxn2">
			<div class="col col-6">
				<div class="p2 bg-white border rounded">
					<img src="ph.jpg" class="mb-0">
					<h1>Welcome</h1>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>

			<div class="col col-6">
			<div class="p2 bg-white border rounded">
				<img src="ph.jpg" class="mb-0">
			</div>
			</div>
		</div>
	</div>
</div>



<div class="section" id="section4">
	<div class="content">
		<div class="flex flex-center p2">
  			<section class="bestyet mx-auto t800 col-10 sm-col-10 md-col-8 lg-col-5">
				<div>THE BEST</div>
				<div>is</div>
				<div>YET</div>
				<div>to come</div>
  			</section>
  		</div>	
		
    </div>
</div>

<div class="section" id="section5">
	<div>
			
</div>

</div>

</div>

<script>
    var nodes = document.querySelectorAll('[data-fitter-happier-text]');
    fitterHappierText(nodes, { baseline: 10 });
  </script>
  <script src="/fitter-hsppirt-text.js"></script>

<script>
var d = new Date();
var days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
document.getElementById("day").innerHTML = days[d.getDay()];
</script>

<script>
var d = new Date()
var day=d.getDate()
var month=d.getMonth() + 1
var year=d.getFullYear()


document.getElementById("date").innerHTML = month + "-" + day + "-" + year;
</script>

</body>
</html>