<!DOCTYPE html>
<html>

  {% include head-fullpage.html %}

<body class="bg-white">




<div id="top-left"> <a href="/" class="fira t600 typora-dark">Sammy Cheung</a> 

<br>

<a href="/"> <img src="/icon-f2-b.svg" height="30" class="typora-dark py2"> </a>

</div>

<div id="top-right">
	<ul class="list-reset right-align t500">
		<li ><a href="/design" class="typora-dark">Design</a></li>
		<li ><a href="/websites" class="typora-dark">Websites</a></li>
		<li ><a href="/projects" class="typora-dark">Projects</a></li>
		<li ><a href="/blog" class="typora-dark">Blog</a></li>
	</ul>	
</div>



<div id="fullpage" >

<div class="section bg-instapaper-sand" id="section0">
	<div class="content">
		
  			<section class="homewords mx-auto t500 asap col-10 sm-col-10 md-col-8 lg-col-5">
    <div data-fitter-happier-text class="red">This is Sammy</div>
    <div data-fitter-happier-text class="myellow">A HUMANBEING</div>
    <div data-fitter-happier-text class="blue">(1986 - ? )[28]/Male/Libra</div>
    <div data-fitter-happier-text class="olive">Asian/Chinese</div>
    <div data-fitter-happier-text class="aqua">Cantonese/Mandarin/English</div>
    <div data-fitter-happier-text class="teal">scrool up and read me more</div>
    	</section>

  			
		
    </div>
</div>
      
<div class="section bg-instapaper-sand" id="section1">
	<div class="slide" id="slide1">
      	<div class="content">
			<section class="mx-auto t400 col-10 sm-col-10 md-col-8 lg-col-5">
				<div data-fitter-happier-text class="blue">social</div>

				<ul class="list-reset">
				<li class="py2"><a href=" https://instagram.com/sammyc/" class="inscolor tlg col-flex p1"> <i class="fa fa-instagram "></i> Instagram </a>  </li>
				<li class="py2"><a href=" https://twitter.com/Sammycheung" class="twicolor tlg  col-flex p1 "> <i class="fa fa-twitter "></i> Twitter </a> </li> 
				<li class="py2"><a href=" http://weibo.com/moohey" class="wbcolor tlg col-flex p1  "> <i class="fa fa-weibo"></i> weibo </a></li> 
				<li class="py2"><a href=" https://www.facebook.com/isammycheung" class="fbcolor tlg col-flex p1  "> <i class="fa fa-facebook"></i> Facebook </a> </li>
				<li class="py2"><a href=" https://www.pinterest.com/isammyc/" class="pincolor tlg col-flex p1  "> <i class="fa fa-pinterest"></i> Pinterest </a> </li>

				<li class="py2"><a href=" https://cn.linkedin.com/in/sammyzhang" class="lincolor tlg col-flex p1  "> <i class="fa fa-linkedin "></i> Linkedin </a> </li>

				<li class="py2"><a href=" https://github.com/iSammyC" class="black tlg col-flex p1"> <i class="fa fa-github "></i> Github</a> </li>
				</ul>
				

			</section>
      	</div>
	</div>

	<div class="slide" id="slide2">
		hello
	</div>
</div>

<div class="section bg-instapaper-sand" id="section2">
      	<div class="content">
			<section class="mx-auto t400 col-10 sm-col-10 md-col-8 lg-col-5">
			
				<ul class="list-reset">
				<li class="py2"><a href=" https://instagram.com/sammyc/" class="inscolor tlg col-flex p1"> <i class="fa fa-instagram "></i> Instagram </a>  </li>
				<li class="py2"><a href=" https://twitter.com/Sammycheung" class="twicolor tlg  col-flex p1 "> <i class="fa fa-twitter "></i> Twitter </a> </li> 
				<li class="py2"><a href=" http://weibo.com/moohey" class="wbcolor tlg col-flex p1  "> <i class="fa fa-weibo"></i> weibo </a></li> 
				<li class="py2"><a href=" https://www.facebook.com/isammycheung" class="fbcolor tlg col-flex p1  "> <i class="fa fa-facebook"></i> Facebook </a> </li>
				<li class="py2"><a href=" https://www.pinterest.com/isammyc/" class="pincolor tlg col-flex p1  "> <i class="fa fa-pinterest"></i> Pinterest </a> </li>

				<li class="py2"><a href=" https://cn.linkedin.com/in/sammyzhang" class="lincolor tlg col-flex p1  "> <i class="fa fa-linkedin "></i> Linkedin </a> </li>

				<li class="py2"><a href=" https://github.com/iSammyC" class="black tlg col-flex p1"> <i class="fa fa-github "></i> Github</a> </li>
				</ul>

			</section>
		</div>
</div>

<div class="section" id="section3">
	<div class="content px3">
		<div class="flex mxn2">
			<div class="col col-6">
				<div class="p2 bg-white border rounded">
					<img src="ph.jpg" class="mb-0">
					<h1>Welcome</h1>
					<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nulla vitae elit libero, a pharetra augue.</p>
				</div>
			</div>

			<div class="col col-6">
			<div class="p2 bg-white border rounded">
				<img src="ph.jpg" class="mb-0">
			</div>
			</div>
		</div>
	</div>
</div>

</div>

<script>
    var nodes = document.querySelectorAll('[data-fitter-happier-text]');
    fitterHappierText(nodes, { baseline: 10 });
  </script>
  <script src="/fitter-hsppirt-text.js"></script>


</body>
</html>