---
layout: default
---

<div class="p2 mt3 mb3 mx-auto hvr-card bg-newwhite t300 wrapper">
<div class="article-container px1">
  <div id="single-post-header" class="center py3">
  	
    <h1 class="post-title">{{ page.title }}</h1>
    
    <div class="px1">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} </div>
  </div>

  <div id="single-post-content" class="justify py3 px2">
    {{ content }}
  </div>

</div>
</div>

<div class="wrapper p2"><a href="/">home</a> <a href="/blog/index.html">blog</a> </div>

