<!-- Section 2 PROJECT -->
<div class="section" id="section2">
<!-- S2S1 COVER -->
<div class="slide" id="slide1">

	<div class="table col-12">

	<div class="content lg-col-6 md-col-4 sm-col-0 inline-block">
		
    </div>

    <div class="content-r lg-col-6 md-col-8 sm-col-12 inline-block">
    		<div class="table cr p4 mx-auto">
    		<div class="table-ce-m">
				<h1 class="t600">Projects</h1>
				<p>Fun to play, make these because I love them. For those who I loved. For a better interface on my computer. And More.</p>
				<div class="flex flex-justify py3">
					<div class="teal">Design</div>
					<div class="teal">websites</div>
					<div class="teal">Personal</div>
				</div>
    		</div>
    		</div>
    	
    </div>
    </div>
</div>
<!-- S2S1 END -->

<!-- S2S2 DESIGN -->
<div class="slide" id="slide2">
    	<div class="col-6 mx-auto"><h2 data-fitter-happier-text class="orange p1 t700">Design</h2></div>
    
    
      
      <div class="col-6 mx-auto flex flex-justify py3">
          <div class="l9"><a href="#9con" class="open-popup-link t2em ">9cons</a></div>
          <div class="l9"><a href="#Self-branding" class="open-popup-link t2em ">Self-Branding</a></div>
          <div class="l9"><a href="#more-design" class="open-popup-link t2em ">more</a></div>
        </div>






   
    
 <div class="pop-up">

  
    <div id="9con" class="popup-dic mfp-hide">
       <h1> 9con</h1> 
        <p>An icon set for Mac. Just another option for your dock.</p>
        
        <a href="/">Go and Download <i class="fa fa-arrow-right"></i></a>

    </div>

    <div id="Self-branding" class="popup-dic mfp-hide">
      <h1>Self-Branding</h1>
      <p>Branding myself. As you see some details in this weisite.</p>
      <a href="/">Check it out <i class="fa fa-arrow-right"></i></a>
    </div>


    <div id="more-design" class="popup-dic mfp-hide">
      <h1>More</h1>
      <p>More project coming soon. See other little design piece of mine by clicking the link below.</p>
      <a href="/">Design Page <i class="fa fa-arrow-right"></i></a>


    </div>
</div>


</div>
    
   



<!-- S2S2 END -->

<!-- S2S3 WEBSITES -->
<div class="slide" id="slide3">
    
<div class="col-6 mx-auto"><h2 data-fitter-happier-text class="white p1 t700" style="border: 3px solid white">Websites</h2></div>
   

    

   <div class="col-6 mx-auto bg-white border rounded">
   <a href="#yme" class="button block button-transparent border-bottom open-popup-link">thebestisyettoco.me</a>
  
  <a href="#700apps" class="button block button-transparent border-bottom open-popup-link">700 Apps</a>
  
  <a href="#more-website" class="button block button-transparent">More</a>
</div>
    
 <div class="pop-up">

  
    <div id="yme" class="popup-dic mfp-hide">
       <h1> 9con</h1> 
        <p>An icon set for Mac. Just another option for your dock.</p>
        
        <a href="/">Go and Download <i class="fa fa-arrow-right"></i></a>

    </div>

    <div id="700apps" class="popup-dic mfp-hide">
      <h1>Self-Branding</h1>
      <p>Branding myself. As you see some details in this weisite.</p>
      <a href="/">Check it out <i class="fa fa-arrow-right"></i></a>
    </div>


    <div id="more-websites" class="popup-dic mfp-hide">
      <h1>More</h1>
      <p>More project coming soon. See other little design piece of mine by clicking the link below.</p>
      <a href="/">Design Page <i class="fa fa-arrow-right"></i></a>


    </div>
</div>


</div>
<!-- S2S3 END -->

<!-- S2S4 SPECIAL -->
<div class="slide" id="slide4">
      
  <div class="col-6 mx-auto"><h2 data-fitter-happier-text class="white p1 t700" style="border: 3px solid white">Personal</h2>
  <h2 data-fitter-happier-text class="aqua p1 t700" style="border: 3px solid white">Made with love, Made for love.</h2></div>
    
    
      <div class="col-6 mx-auto border border-white sm-flex center nowrap">
  <div class="col-4">
    <a href="#yme" class="button white block button-navy open-popup-link">thebestisyettoco.me</a>
  </div>
  <div class="col-4">
    <a href="#700apps" class="button white block button-navy open-popup-link">700Apps</a>
  </div>
  <div class="col-4">
    <a href="#more-websites" class="button block white button-navy open-popup-link">more</a>
  </div>
</div>
   
    
 <div class="pop-up">

  
    <div id="yme" class="popup-dic mfp-hide">
       <h1> 9con</h1> 
        <p>An icon set for Mac. Just another option for your dock.</p>
        
        <a href="/">Go and Download <i class="fa fa-arrow-right"></i></a>

    </div>

    <div id="700apps" class="popup-dic mfp-hide">
      <h1>Self-Branding</h1>
      <p>Branding myself. As you see some details in this weisite.</p>
      <a href="/">Check it out <i class="fa fa-arrow-right"></i></a>
    </div>


    <div id="more-websites" class="popup-dic mfp-hide">
      <h1>More</h1>
      <p>More project coming soon. See other little design piece of mine by clicking the link below.</p>
      <a href="/">Design Page <i class="fa fa-arrow-right"></i></a>


    </div>
</div>  

</div>
<!-- S2S4 END -->


</div>
<!-- SECTION 2 END -->
